h5{
    color: red;
}
.header{
    width: 100%;
    height: 100px;
    text-align: center;
    background: black;
}

.logo{
    width: 100px;
    height: 100px;
    display:inline-flex;
    flex-wrap: wrap;
    float: left;
}
.a:hover{
    color:violet;
}

.a{
    color:white;
}

.a:active{
    color:violet;
}
@media screen and (max-width:500px) {
    header{
        display: block;
        text-align: center;
    }
}


.Add p{
    margin-left: 20px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.Add input{
    border-color:violet;
    color:black;
    margin: 0;
    padding: 5px;
    margin-left: 20px;
    border-radius: 9px;
    width: 200px;
    height: 15px;
}

.Add select{
    margin-left: 20px;
    background-color: violet;
    border-radius: 7px;
}
.Add1 p{
    margin-left: 20px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.Add1 input{
    margin-left: 0px;
    margin: 0px;
    border-color: violet;
    border-radius: 9px;
    color:black;
    padding: 5px;
    width: 180px;
    height: 15px;
}

.sub input{
    background-color:violet;
    color: white;
    text-align: center;
    border-radius: 5px;
    margin: 20px;
    display: block;

}

.Add2 p{
    margin-left: 20px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.Add2 input{
    width: 200px;
    height: 100px;
    border-color:violet;
    color:black;
    margin: 0;
    padding: 5px;
    margin-left: 20px;
    border-radius: 9px;
}

.footer_b{
    width: 100%;
    height: 20px;
    background: black;
    text-align: left;
    padding: 4px;
    font-style: oblique;
}
*{
    margin: 0;
}
footer{
    background: black;
    width: 100%;
    height: 100px;
    font-family:sans-serif;
    padding-top: 20px;
    color: white;
}
.footer-content p{
    max-width: 350px;
    margin: 10px auto;
    line-height: 30px;
    font-size: 11px;
    text-align: center;
}

.footer_b{
    background: black;
    max-width: 100vw;
    padding: 20px 0;
    text-align: center;

}

.footer_b p{
    font-size: 11px;
    font-style: italic;
    color:tomato;
    word-spacing: 4px;
    text-transform:capitalize;
    text-decoration: violet;
}

.footer_b span{
    font-weight: 85;
    text-decoration: violet;
    color: violet;
    opacity: .3;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


